:root
  --white #fff
  --lightgrey #F5F2F9
  --grey #d1d1d1
  --black #0A1D49
  --purple #5c6ac4
  --turquoise #5DDBBC
  --yellow #fad875
  
  --padding 25px
  --radius 5px
  --font-main 'Noto Sans', sans-serif